vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Feb 2003 04:00:00 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|17 Feb 2003 04:00:00 -0000
vti_filesize:IR|7898
vti_cachedlinkinfo:VX|K|OSLConnection.htm K|Eventscalendar.html K|CFSL.htm K|CFSL.htm K|2002trip.html K|Programupdate.htm K|Phase2.htm H|S_L_\\ webtravelreport.html H|mailto:dfhall@magma.ca K|CFSL.htm H|index.html
vti_cachedsvcrellinks:VX|FHUS|sierraleone/templates/files\\ from\\ dave/OSLConnection.htm NHUS|sierraleone/templates/files\\ from\\ dave/Eventscalendar.html FKUS|sierraleone/templates/files\\ from\\ dave/CFSL.htm FKUS|sierraleone/templates/files\\ from\\ dave/CFSL.htm NHUS|sierraleone/templates/files\\ from\\ dave/2002trip.html NHUS|sierraleone/templates/files\\ from\\ dave/Programupdate.htm FHUS|sierraleone/templates/files\\ from\\ dave/Phase2.htm NHUS|sierraleone/templates/files\\ from\\ dave/S_L_\\ webtravelreport.html NHUS|mailto:dfhall@magma.ca FKUS|sierraleone/templates/files\\ from\\ dave/CFSL.htm NHUS|sierraleone/templates/files\\ from\\ dave/index.html
vti_cachedtitle:SR|CFSL
vti_title:SR|CFSL
vti_cachedbodystyle:SR|<body text="#000000" bgcolor="#FFFFCC" link="#0000EE" vlink="#551A8B" alink="#FF0000">
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1 Author David\\ Hall GENERATOR Mozilla/4.73\\ [en]\\ (Win98;\\ U)\\ [Netscape] Description Information\\ on\\ the\\ projects\\ and\\ fund\\ raising\\ of\\ the\\ Canadian\\ Friends\\ of\\ Sierra\\ Leone KeyWords Sierra\\ Leone,\\ \\ fund\\ raising,
vti_generator:SR|Mozilla/4.73 [en] (Win98; U) [Netscape]
vti_backlinkinfo:VX|sierraleone/templates/files\\ from\\ dave/cfsl.htm
